/*================================================================================
	Item Name: APPSDART OMS
	Version: 1.0
	Author: APPSDART
	Author URL: http://www.appsdart.com
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.oms-logo{
	width:60px;
}
.oms-head{
	font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-left: 11px;
}
.custom-nav{
	width: 100%;
    justify-content: flex-end;
}
.client-name{
	color: #fff;
    font-weight: 700;
}
.navbar-semi-dark .navbar-header .brand-text{
	color:#000;
}
.img-icons{
	width:35px;
}
.status-label[data-label="paid"],.payment-label[data-label="paid"]{
	padding: 5px 9px;
	border-radius: 30px;
	background-color: #dfe3e8;
}
.status-label[data-label="pending"],.payment-label[data-label="pending"]{
	padding: 5px 9px;
    border-radius: 30px;
    background-color: #ffc58b;
    color: #594430;
}
.status-label[data-label="paid"] .status-icon,.payment-label[data-label="paid"] .status-icon{
	margin-right: 5px !important;
	color: #989898;
}
.status-label[data-label="pending"] .status-icon,.payment-label[data-label="pending"] .status-icon{
	margin-right: 5px !important;
    color: #c05717;
}
.custom-control-input:checked ~ .custom-control-label::after{
	color:#000;
}
.select-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.all-orders-section .is-sticky .select-header {
    border-bottom: 1px solid #eee;
    padding: 5px 20px;
    border-bottom: 1px solid #e3ebf3;
    border-top: 1px solid #eee;
	background: #f7f7f7;
	z-index: 999 !important;
}
.flex-header{
	display: flex;
	width: fit-content;
	align-items: center;
	border-radius: 5px;
	padding: 10px;
}
.count-box{
	padding-left: 5px;
    padding-right: 12px;
    color: #607D8B;
    font-weight: 700;
    height: 100%;
}
.select-count{
	padding-right: 6px;
}
.assign-courier{
	float: right;
    margin-bottom: 0;
    margin-right: 0;
    font-weight: 700;
    padding: 15px 15px;
}
.pager li{
	margin-right: 5px;
}
.section-head.card-title{
	font-size: 17px;
    font-weight: 700;
    padding-left: 15px;
    text-transform: uppercase;
}
.form-submit{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 5px;
}
.logisitic-btn{
	width: 135px;
}
.submit-btn{
	width: 135px;
    margin: 0 auto;
}
.courier-logo{
	height: 30px;
}
.order-line-item .item-image{
	width:70px;
	height:70px;
	border: 1px solid #eee;
	padding: 2px;
	max-width: none;
}
.order-line-item .flex-img{
	position: relative;
	margin-right:20px;
}
.order-line-item .item-flex{
	align-items: center;
}
.order-line-item{
	margin-bottom: 20px;
	padding: 20px 30px 10px 0px;
}
.order-line-item .first-block{
	width: 50%;
}
.order-line-item .second-block{
	width: 40%;
	text-align: center;
}
.order-line-item .third-block{
	width: 35%;
	text-align: right;
}
.order-line-item .cross-icon{
	padding: 0 10px;
}
.order-line-item .qty-count{
	position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    -webkit-transform: translate3d(1.5rem, -50%, 0);
    transform: translate3d(1.5rem, -50%, 0);
    z-index: 2;
    font-weight: 400;
    color: #383838;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
	padding: 0 0.7rem;
	font-size:13px;
    background-color: #efeded;
    border: 2px solid #b0b0b0;
    border-radius: 2rem;
    line-height: 1.5rem;
    white-space: nowrap;
    vertical-align: middle;
}

.total-table{
    width: 70%;
    float: right;
    clear: both;
}
.total-table tbody{
	color:#383838;
}
.text-bold{
	font-weight: 600 !important;
}
.order-body{
	padding-top: 30px;
}
.customer-note,.side-note{
	width:100%;
}
.sidebar-info{
	line-height: 1.8em;
	color: #434343;
}
.sidebar-info p{
	margin-bottom: 0;
}
.sidebar-title{
	font-size:14px;
	font-weight:600;
	color:#383838;
	padding-bottom:15px;
}
.order-summary .order-title{
	margin-bottom:10px;
	font-weight: 600;
}
.payment-label{
	display: block;
	width: fit-content;
	margin: 0 auto;
}
.shipment-btn{
    border-radius: 5px;
    background-color: #000;
	color: #fff;
	padding: 12px 30px;
	font-weight: 700;
	/* padding: 15px 30px 14px 30px; */
	font-size: 13px;
}
.shipment-btn:hover{
	color:#fff;
	background-color: #545454;
}
.more-btn{
	padding: 14px 25px;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    background-color: #a1a1a1;
    border-radius: 0px;
    margin-left: 20px !important;
}

form .form-actions.profile-form{
	border:none;
	padding: 5px 25px 15px 0px;
    margin-top: 0px;
}

.profile-section .form-body{
	padding: 10px 15px;
}
.profile-section .form-group label,.user-section .form-group label{
	margin-left:0px;
	color:#323232;
}


.profile-section .form-group .file-label{
	padding-bottom: 15px;
}

.profile-section .form-section,.user-section .form-section{
	margin-left: 12px;
}

.profile-section .form-group,.user-section .form-group{
	border-bottom: none;
}

.default-btn{
	padding: 15px 25px;
    border-radius: 5px;
    font-weight: 600;
}
.profile-section .form-control,.user-section .form-control{
	padding-left: 0px;
	color:#323232;
}
.form-horizontal.row-separator .form-group > div{
	padding-bottom:0px;
}

.oms-form{
	padding: 10px 10px;
}
.oms-form .form-group label{
	margin-left:0px;
	color: #585858;
    font-weight: 600;
}

.oms-form input.form-control, select.form-control, textarea.form-control,textarea.form-control:not([rows='1']){
	padding-left: 0px;
	color:#323232;
}
.oms-form .alert-danger{
	background:#fff;
    padding: 0;
}
.oms-form .alert-danger span{
	color: #ff0000;
}
.hyperlink{
	color: #007ace;
	cursor: pointer;
}
.address-dialog{
	max-width: 45rem;
	margin-top: 100px;
}
.product-dialog{
	max-width: 50rem;
}
.address-dialog .modal-header{
	background-color: #323232 !important;
    padding: 15px;
}
.address-dialog.modal-lg{
	max-width: 52.5em;
}

input.form-control.form-text{
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 80px;
    padding-right: 5px;
    float: right;
    margin-top: 0px;
}
input.form-control.form-text:hover{
	background-color: #fff;
}
.edit-table{
	width:100%;
}
input.form-control.form-text:disabled{
	border: none;
    text-align: right;
	padding-right: 5px;
	color:rgba(0, 0, 0, 0.87);
	background-color:transparent;
}
.item-price-cards{
	display: flex;
    justify-content: flex-end;
    align-items: center;
}
.add-items{
    display: flex;
	align-items: center;
	border-radius: 5px;
}
.add-items i{
	margin-right: 6px;
    margin-top: -1px;
}
.line-items-row{
	border: 1px solid #ececec;
	padding: 10px 0px;
	margin-bottom: 15px;
	position: relative;
}
.delete-line-item{
	display: none;
}
.cloned .delete-line-item{
	display: block;
}
.add-line-items{
	display:flex;
	align-items: center;
	border-radius:5px;
}
.add-line-items:focus{
	color:rgba(0, 0, 0, 0.87) !important;
}

.add-line-items i{
	margin-right:5px;
	text-transform: inherit;
}
.delete-line-item{
	position: absolute;
	cursor: pointer;
    right: 5px;
	top: 5px;
	z-index:9999;
}
.delete-item-row{
	position: absolute;
	cursor: pointer;
    right: 0px;
	top: 42%;
	z-index:999;
}
.add-product-body{
	margin: 0 15px;
}
.la.delete-row{
    font-size: 22px;
    color: #F44336;
}
.item-header{
	align-items: center;
    justify-content: space-between;
    margin: 10px 25px 20px 0px;
}
.calculate-total i.la{
	font-size: 13px;
    margin-right: 5px;
}
.order-line-item{
	position: relative;
}
.toggle-courier.dropdown-menu-sm, .menu-cascading {
	min-width: 11.2rem;
	background: #f7f7f7;
	padding:0px;
}
.toggle-courier.dropdown-menu::before{
	box-shadow: none;
	border-radius: 0px;
	background-color: #ebebeb;
}
.toggle-courier.dropdown-menu .dropdown-item{
	padding: 12px 10px !important;
	font-size: 12px;
    font-weight: 600;
}
.toggle-courier.dropdown-menu-sm .dropdown-item, .toggle-courier.menu-cascading .dropdown-item{
	border-bottom: 1px solid #e2e2e2;
}
.toggle-courier-btn{
	border-radius: 0px;
}
.dropdown-item.cancel-order{
	color: #b82a29;
}

.edit-order-section .order-line-item .third-block{
	padding-right:28px;
}
@media only screen and (max-width: 991px) {
	.select-header{
		display:block;
	}
	.flex-header{
		width: 100%;
		margin-top: 24px;
	}
}

.search-section .search {
    position: relative;
    display: flex;
    align-items: center;
}
.search-section .search .basic-search {
    width: 100%;
    border: none;
    padding: 0;
    outline: none;
}
.search-section .search i {
    position: absolute;
    top: 14px;
    right: 1rem;
}
.search-section{
	width: 100%;
    max-width: 400px;
    border: 1px solid #e1e1e1;
    margin-bottom: 0px;
    margin-left: 20px;
}
.search-btn{
	color: #545454;
}
.search-section .card{
	margin-bottom: 0;
}
.search-section .card-body{
	padding: 0;
}
.search-btn:focus{
	color:#000;
	background:#fff !important;
}
.search-btngroup{
	border-right: 1px solid #e1e1e1;
    margin-right: 15px;
}
.search-section .toggle-courier.dropdown-menu-sm,.search-section .menu-cascading{
	background:#fff;
}
.search-section .toggle-courier.dropdown-menu-sm a{
	background:#fff;
}
.search-section .search-btn:hover{
	background:#fff;
}
.search-section .toggle-courier.dropdown-menu-sm, .menu-cascading{
	min-width: 8.6rem;
    background: #f7f7f7;
    padding: 0px 0px;
    left: -1px !important;
}
.search-filters{
	display: flex;
	align-items: center;
	margin-bottom:20px;
}
.filters-btn{
	margin-left:15px;
	background: linear-gradient(180deg,#fff,#f9fafb);
    border: 1px solid #c4cdd5;
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
    color: #212b36;
    padding: 15px 20px;
}
.filters-btn:hover{
	background: linear-gradient(180deg,#fff,#f9fafb);
	color: #212b36;
}
.filters-btn:focus{
	background: linear-gradient(180deg,#fff,#f9fafb);
	color: #212b36;
}
.filters-btn i{ 
	margin-right: 8px;
}
.all-orders-section .select-header{
	padding: 5px 15px;
}
.filters-bar .nav-item.nav-link {
	border-bottom: 1px solid #e2e2e2;
	cursor: pointer;
}
.filters-bar .navdrawer-content{
	top:71px;
	width: 23.5rem;
	box-shadow: unset;
    border-top: 1px solid #e2e2e2;
}
.select-order.form-control{
	border: none;
    font-weight: 600;
    font-size: 12px;
    color: #545454;
    float: right;
    margin-bottom: 0;
    width: auto;
    font-weight: 700;
    padding: 6px 15px;
	padding-left: 12px;
    padding-right: 25px;
    border-right: 1px solid #e1e1e1;
    margin-right: 15px;
}
.nav-submenu{
	padding: 15px 10px 5px 15px;
	display: none;
}
.nav-submenu .custom-control{
	padding-bottom: 5px;
	padding-left:2rem;
}
.nav-submenu .custom-radio .custom-control-label::after{
	font-size:17px;
}
.nav-submenu .custom-control-label::after{
	top:2px;
}

.daterangepicker td.active, .daterangepicker td.active:hover,.daterangepicker td.active.in-range{
	background: #545454;
}
.daterangepicker td.in-range{
	background-color: #e7e7e7;
}
.daterangepicker .drp-buttons .btn{
	padding: 10px 20px;
}
button.applyBtn.btn.btn-sm.btn-primary{
	padding: 10px 68px;
	color:#fff;
}
.daterangepicker .drp-selected{
	display: none;
}
.daterangepicker .ranges li.active{
	background-color:#000;
	color: #fff;
}
.daterangepicker.show-calendar.opensright:before{
	right: 279px;
	left:unset;
}
.daterangepicker.show-calendar.opensright:after{
	right: 280px;
	left: unset;
}
.recent-shipment{
	float: right;
    text-decoration: underline;
    font-size: 14px;
}
.recent-shipment a{
	color: #464855;
}

.update-btn{
	background-color: #4CAF50;
    padding: 14px 50px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    width: auto;
    margin-top: 5px;
	position: relative;
	animation-name: shake;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	cursor: pointer;
  }
  .update-btn:hover {
	animation-name: shakeAnim;
  }
  .edit-table input.form-control.form-text{
	width:100px;
  }
  #error-modal-message{
	color:black;
	font-weight:bold;
	font-size: 15px;
  }
.error-dialog .modal-header {
    background-color: #cc0000 !important;
    padding: 15px;
} 
.error-dialog {
    max-width: 45rem;
    margin-top: 100px;
}
.warehouse-title{
	font-size: 17px;
    font-weight: 700;
    padding-left: 5px;
	text-transform: uppercase;
	margin-bottom: 0;
}
.warehouse-expansion{
	background-color: #EEEEEE;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    padding: 15px 15px;
    margin-bottom: 10px;
}
.ware-card{
	box-shadow: none;
    border: 2px solid #dddddd;
	line-height: 25px;
	height:100%;
	color: #464855;
}
.ware-card .card-title{
	padding-right: 45px;
}
.add-card{
	box-shadow: none;
    border: 2px dotted #dddddd;
    margin-bottom: 0px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.add-flex{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.add-icon.la{
	font-size: 40px;
	margin-right: 7px;
	color: #464855;
}
.add-para{
    margin-top: 5px;
    font-size: 15px;
    display: block;
}
.edit-warehouse{
	position: absolute;
    display: flex;
    align-items: center;
	right: 25px;
	cursor: pointer;
}
.edit-icon{
	font-size: 14px;
    text-decoration: underline;
    color: #3F51B5;
    letter-spacing: 1px;
}
.add-warehouse-card{
	cursor: pointer;
	min-height: 180px;
}
.shipment-download a{
	color: #1890ff;
	text-decoration: underline;
}
.shipment-download i{
	margin-right: 4px;
	text-decoration: none;
}
.download-pdf{
	margin-bottom: 15px;
	margin-top: 5px;
}
.clear-filter{
	position: relative;
	color: #c54a53;
	cursor: pointer;
}
.filter-submission{
	padding: 15px 10px;
}
.filter-submit{
	padding: 12px 35px;
    border-radius: 5px;
    font-weight: 600;
}
.error-msg{
	color:#ff0000;
}
form .form-control{
	color:#242424;
}
.ware-box{
	margin-bottom: 25px;
}
.main-menu.menu-light .navigation li a{
	color: #464855;
}
.sync-orders{
	position: absolute;
    right: 30px;
    display: flex;
	align-items: center;
	cursor: pointer;
}
.sync-orders a:hover{
	text-decoration: underline;
}
.sync-orders i,.sync-warehouse i{
	color: #464855;
	font-weight: 600;
	font-size: 17px;
    padding-right: 5px;
}
.sync-orders a{
	color: #464855;
	font-weight: 600;
}
.delete-manifest i{
	color: #e52113;
}

.modal-delete-product{
	display:block;
	margin-top:5px;
	margin-right:5px;
}
.warehouse-submit{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.ware-footer .custom-control-label{
	margin-bottom: 0;
}
.static-domain{
	color: #595959;
    padding: 12px 2px 8px 15px;
    position: absolute;
    right: 0;
    top: 0;
}
.login-btn{
	margin-top: 30px;
    margin-bottom: 15px;
}
.reset-btn{
	color:#454545;
	text-decoration: underline;
}
.font-bold{
	font-weight: 700;
}
.introjs-helperLayer{
	background-color: rgba(255,255,255,0.3) !important;
}
.introjs-button.introjs-skipbutton{
	margin-right: 5px;
    padding: 7px 15px;
    text-shadow: none;
    font-size: 12px;
    border-radius: 5px;
	background: #f5f5f5;
	background-image: none;
    color: #545353;
}
.introjs-button.introjs-prevbutton,.introjs-button.introjs-button:active,.introjs-button.introjs-button:focus{
	background: #ffffff;
	background-image: none;
    text-shadow: none;
    color: #fff;
    color: #484848;
    font-weight: 700;
    padding: 6px 12px;
    margin-right: 11px;
    font-size: 13px;
    border-right: 1px solid #d4d4d4;
    margin-left: 10px;
    border-radius: 5px;
}
.introjs-button.introjs-nextbutton,.introjs-button.introjs-button:active,.introjs-button.introjs-button:focus{
	background: #000;
	background-image: none;
    text-shadow: none;
    color: #fff;
    font-weight: 700;
    padding: 7px 12px;
    font-size: 13px;
    margin-left: 0px;
    border-radius: 5px;
}
.introjs-helperNumberLayer{
	top: -12px !important;
	left: 7px !important;
}
.loc-error{
	color: #b82a29;
    font-weight: 600;
	width: 100%;
	text-align: center;
    position: absolute;
    padding: 5px 5px;
    bottom: 0;
    padding-left: 10px;
    left: 0;
    background: #f0f0f0;
}
.sync-warehouse{
    position: absolute;
    right: 30px;
    font-size: 14px;
    top: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
  @keyframes shakeAnim {
	0% {left: 0}
	1% {left: -3px}
	2% {left: 5px}
	3% {left: -8px}
	4% {left: 8px}
	5% {left: -5px}
	6% {left: 3px}
	7% {left: 0}
  }
  
  @keyframes shake {
	0% {left: 0}
	1% {left: -3px}
	2% {left: 5px}
	3% {left: -8px}
	4% {left: 8px}
	5% {left: -5px}
	6% {left: 3px}
	7% {left: 0}
  }

  .delhivery-error {
    font-weight: 600;
    text-align: left;
    line-height: 25px;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

   .btn-primary.disabled, .btn-primary:disabled {
    color: #000 !important;
    background: #bcbcbc !important;
  }

  .clone-btn {
	background-color: #4CAF50;
    padding: 14px 50px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    width: auto;
    margin-top: 5px
  }
  .export-section{
	padding-right: 15px;
    border-right: 1px solid #464855;
    margin-right: 10px;
    color: #464855;
  }
  .export-csv{
	color: #464855;
    font-weight: 600;
  }

  .download-all{
    font-weight: bold;
    display: flex;
    width: auto;
    float: right;
    margin-bottom: 15px;
  }
  span.paginate-text {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
}
  .download-invoice-btn{
    background: #424242;
    color: #fff;
    font-weight: 600;
  }
  .download-invoice-btn:hover{
    background: #424242;
    color: #fff;
    font-weight: 600;
  }
  .download-invoice{
	background: #424242;
    color: #fff;
    font-weight: 600;
  }
  .shop-logo{
	  max-width:125px;
	  max-height:100px;
  }
  .chat-application .chat-sidebar .chat-sidebar-search{
	font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .chat-application .chat-sidebar .chat-sidebar-list-wrapper{
	margin-top: 65px;
  }
  .chat-application .chat-sidebar .chat-sidebar-list-wrapper li{
    position: relative;
  }
  .tax-info{
	  padding-top:10px;
	  margin-bottom:0px;
  }
  .tax-body{
	padding-top: 5px;
	padding-bottom:30px;
  }
  .tax-body .dropify-wrapper{
	height:150px;
  }
  .upload-taxcsv{
	float: unset;
    clear: both;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  .sample-csv{
	margin: 0 auto;
    display: block;
    padding-top: 18px;
    text-align: left;
    text-decoration: underline;
  }
  .tax-card{
	  margin-bottom: 0;
  }
  .chat-application.sms-app .chat-window-wrapper .chat-area .chat-container{
	height: calc(100vh - 12.75rem);
  }
  .chat-application.sms-app .chat-header{
	padding: 12px 15px;
 } 
 .chat-application.sms-app .chat-sidebar .chat-sidebar-search{
	padding: 18px 15px;
 }
 .chat-application.sms-app .chat-sidebar .chat-sidebar-list-wrapper{
	margin-top: 4.3rem;
 }
 .chat-application.sms-app .chat-sidebar .chat-sidebar-list-wrapper li{
	line-height: 5px;
    padding: 15px 20px;
}
 .chat-application.sms-app .chat-sidebar .chat-sidebar-list-wrapper li.active{
	 background: #000;
 }
 .chat-application.sms-app .chat-sidebar-name{
	padding-left: 25px;
 }
 .chat-application.sms-app .chat-content .chat-body .chat-message{
    background: #292929;
    color:#fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
 }
 .chat-application.sms-app .chat-content .chat-body .chat-message textarea{
	line-height: 1.4em;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    background-color: #292929;
    text-align: left;
    max-width: 400px;
    height: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    resize: none;
 }
 .sms-icon{
	color: #6b6f82;
    font-size: 22px;
    padding-right: 10px;
 }

.sms-subpara{
	font-size: 12px;
    color: #6c6c6c;
    margin-bottom: 0;
}
.chat-application .chat-sidebar .chat-sidebar-list-wrapper li i{
    font-size: 16px;
    top: 41%;
    left: 18px;
    color: #52b45c !important;
    position: absolute;
}
.chat-application .chat-sidebar .chat-sidebar-list-wrapper li[data-status="active"] i{
	color: #52b45c !important;
}

.chat-application .chat-sidebar .chat-sidebar-list-wrapper li[data-status="inactive"] i{
	color: #F44336 !important;
}
.edit-template{
	display: flex;
	align-items: center;
    float: right;
    margin: 0 1.33rem 1.33rem 0.3rem;
    clear: both;
}
.edit-template i{
	font-size: 17px;
	padding-right:4px;
}
.edit-template span {
    text-decoration: underline;
    cursor: pointer;
}
.save-template{
	display: none;
    margin: 0 1.33rem 1.33rem 0.3rem;
	clear: both;
	align-items: center;
    float: right;
}
.save-trigger{
	padding: 8px 40px;
	background: #000;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}
.cancel-trigger{
	cursor: pointer;
    padding-right: 15px;
}
.chat-application.sms-app .chat-content .chat-body .chat-message.text-edit,.chat-application.sms-app .chat-content .chat-body .chat-message textarea.text-edit{
	background: #fff;
	color: #000;
}
.chat-header-icons{
    display: flex;
    position: absolute;
    right: 20px;
    top: 18px;
}
.inactive-sms{
	padding-right: 12px;
}
.custom-switch .custom-control-label:before,.custom-switch .custom-control-label::after{
	height:20px;
	width:20px;
	top:0px;
}
.custom-switch .custom-control-track{
	top: -2px;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after{
	background-color: #292929;
}
.custom-switch .custom-control-input:checked ~ .custom-control-track{
	top: -2px;
    background-color: #656565;
}
.enable-sms, .disable-sms{
	cursor: pointer;
}
.delete-user{
	color: #474747;
}
.permission-title{
	padding: 15px 28px 10px 25px;
	font-size: 16px;
}
.permissions-table{
	display:none;
}
.permissions-table select.form-control{
	border-bottom: none;
}
.permissions-table tbody tr td:last-child{
	width: 25%;
}
.user-section .form-group{
	padding: 10px 15px;
}
.permissions-table .table.table-xl th,.permissions-table .table.table-xl td{
    padding: 15px 25px;
}
.permission-checkbox{
	padding-left: 22px;
	padding-bottom: 20px;
}
.announcement-text {
	line-height: 20px !important;
	font-size: 14px !important;
}